{
  "presets": [["env", { "modules": false }]],
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }]],
      "plugins": ["syntax-dynamic-import", "dynamic-import-node"]
    }
  }
}
